/* general */
*{
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

.col-1,
.col-2,
.col-3{
    flex: 1;
}

.col-2{
    flex: 2;
}

.col-3{
    flex: 3;
}

.row{
    display: flex;
}
/* general */
/* Barra navegacion */
.navega{
    background-color: black;
    color: white;
    width: 1200px;
}

.navar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.l{
    list-style-type: none;
    padding: 10px;
}

.w{
    color: white;
    text-decoration: none;
    padding-right: 5px;
}

.im{
    width: 25px;
    padding-right: 10px;
}

.c{
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.T{
    border-bottom: yellow 1px solid;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
/* Barra navegacion */
/* main */
.m{
    width: 1200px;
}

.bloque{
    background-color: gray;
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
}

.bandas{
    width: 210px;
}

.center{
    text-align: center;
}

.tex{
    padding-right: 60%;
}

.text{
    padding-right: 80%;
}

.bor{
    border-bottom: solid 1px yellow;
    margin-bottom: 10px;
}

.cen{
}
/* Main */